.sidebar {
    min-width: 180px;
    max-width: 225px;
    background: var(--primary-color);
    min-height: 100vh;
    box-sizing: border-box;
    position: relative;
    color: #fff;
    flex: 0 0 225px;
  }

  .sidebar-content {
    position: fixed;
    width: 225px;
  }

  .sidebar .user {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 40px 25px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
  }

  .sidebar .links {
    margin-top: 80px;
    margin-left: 20px;
  }

  .sidebar .links li {
    margin-top: 10px;
  }

  .sidebar .links a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    width: 100%;
    color: #fff;
    box-sizing: border-box;
  }

  .sidebar .links img {
    margin-right: 10px;
    filter: invert(100%);
  }

  .sidebar .links a.active {
    color: #555;
    background: var(--bg-color);
    border-radius: 20px 0 0 20px;
  }

  .sidebar .links .active img {
    filter: invert(40%);
  }

  /* responsive design here */

  @media (max-width: 840px) {
    .sidebar {
      width: 80px;
      min-width: 80px;
      max-width: 80px;
  }

  .sidebar .user {
    padding: 30px 10px;
  }

  .sidebar .user .avatar {
    padding: 0;
  }

  .sidebar .links {
    margin-left: 17px;
  }

    .sidebar .links span {
      display: none;
    }

    .sidebar .user p {
      display: none;
    }

    .sidebar-content {
      width: 80px;
    }

    
}